$border-color: rgba(2, 254, 255, 0.2);
$content-border: rgba(2, 254, 255, 0.5);
$text_border: rgba(2, 254, 255, 1);
$content-fill: rgba(2, 254, 255, 0.05);
$text-color: theme('textColor.default');
$yellow: rgba(254, 245, 64, 0.8);

.about_page {
  height: 100%;
  width: 100%;
}

.intro_section {
  display: flex;
  height: calc(100vh - 5rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.75rem;
  padding: 0 20%;
}

.intro_content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  width: 100%;
  padding: 10%;
  text-align: center;
}

.intro_content::before,
.intro_content::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 8px solid $content-border;
  transition: all 0.5s;
  animation: clippath 8s infinite linear;
  border-radius: 10px;
}

.intro_content::after {
  animation: clippath2 8s infinite linear;
}

.intro_text {
  padding-bottom: 3rem;
  border-bottom-width: 1px;
}

.content_section {
  display: flex;
  margin: 5% 10%;
  padding: 7% 10% 7% 10%; 
  flex-direction: column;
  background-color: $content-fill;
  gap: 4.75rem;
  justify-content: center;
  text-align: left;
  border: 10px solid $border-color;
  border-radius: 15px;
  box-shadow: 0px 0px 35px $border-color;
  transition: opacity 1s ease-in-out;
  line-height: 1.7em;
}

.content_section_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.text_container {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
}

.background_title {
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 2px solid $text-color;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.section_title {
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.icon {
  opacity: 0.5;
  height: 200px;
  width: 200px;
}

.quick_facts_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 3rem; 
  justify-items: center;
}

.quick_facts_text_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.quick_fact_answer {
  color: $yellow;
}

.question_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade_in {
  opacity: 1;
}

@media (max-width: 840px) {
  .intro_section {
    padding: 0 5%;
  }
  
  .intro_content {
    padding: 15% 5%;
    gap: 2rem;
  }

  .content_section {
    padding: 5% 5%;
    margin: 0 5%;
    margin-bottom: 10%;
    font-size: 11pt;
    gap: 2rem;
    border-width: 6px;
    border-radius: 12px;
  }

  .text_container {
    flex-basis: 80%;
  }

  .intro_text,
  .background_title {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .section_title {
    text-align: center;
  }

  .content_section_container {
    text-align: center;
    flex-direction: column;
  }

  .icon {
    height: 120px;
    width: 120px;
  }

  .quick_facts_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem; 
    justify-items: center;
  }

}

@keyframes clippath {
0%, 100% {
  clip-path: inset(0 0 98% 0);
}

25% {
  clip-path: inset(0 98% 0 0);
}
50% {
  clip-path: inset(98% 0 0 0);
}
75% {
  clip-path: inset(0 0 0 98%);
}
}

@keyframes clippath2 {
0%, 100% {
  clip-path: inset(98% 0 0 0);
}

25% {
  clip-path: inset(0 0 0 98%);
}
50% {
  clip-path: inset(0 0 98% 0);
}
75% {
  clip-path: inset(0 98% 0 0);
}
}