$border-color: rgba(2, 254, 255, 0.2);
$content-fill: rgba(2, 254, 255, 0.05);
$site-color: rgba(11, 34, 41, 0.8);
$text-color: rgba(190, 190, 190, 1);
$error-border-color: rgba(255, 0, 0, 0.75); 

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: $content-fill;
  padding: 20px;
  border-radius: 8px;
  border: 4px solid $border-color;
  backdrop-filter: blur(12px);
  width: max-content;
  height: min-content;
  max-width: 80%;
  align-items: center;
  justify-content: center;
}

.modalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeader h2 {
  margin: 0;
  font-size: 20px;
}

.modalBody {
  margin: 25px 0;
  text-align: center;
  font-size: 16px;
}

.modalFooter {
  display: flex;
  justify-content: center;
}

.error {
  border-left: 5px solid $error-border-color;
}

.success {
  border-left: 5px solid rgba(0, 128, 0, 0.75);
}
