$menu-background: rgba(11, 34, 41, 0.6);
$menu-lines: rgba(190, 190, 190, 1);
$holo-color: rgba(2, 254, 255, 0.5);

.navbar {
  background-color: transparent;
  position: relative;
  z-index: 9999;
  height: 5rem;
  max-height: 5rem;
  margin-bottom: 1rem;
  max-width: 100vw;
}

.navbar_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 20px;
  width: 100%;
}

.logo_and_menu {
  display: flex;
  padding: 5% 7% 0 7%;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
  align-items: center;
}

.logo {
  font-size: 1.125rem;
  .logo_img {
    height: 3.5rem;
  }
}

.hamburger_menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 25px;
  cursor: pointer;

  &.expanded {
    .hamburger_menu_line {
      &:nth-child(1) {
        transform: translateY(8px) rotate(315deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-8px) rotate(-315deg);
      }
    }
  }
}

.hamburger_menu_line {
  width: 100%;
  height: 3px;
  background-color: $menu-lines;
  transition: transform .5s ease-in-out, opacity .25s ease-out;
}


.nav_links {
  display: flex;
  position: absolute;
  flex-direction: column;
  backdrop-filter: blur(12px);
  top: 100%;
  list-style: none;
  gap: 6px;
  margin-top: 6px;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;

  &.expanded {
    height: calc(200% + 6px);
  }
}

.nav_link {
  display: flex;
  border-bottom: 1px solid $menu-lines;
  justify-content: center;
  padding-bottom: 6px;
}

.link {
  width: 100%;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $holo-color;
  }
}
