$holo-color: rgba(2, 254, 255, 0.5);

.navbar {
  background-color: transparent;
  position: relative;
  z-index: 9999;
  padding: 1rem 0 0 0;
  height: 5rem;
  max-height: 5rem;
  margin-bottom: 1rem;

  .navbar_container {
    margin-left: 2.5rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 20px;
  }

  .navbar_logo_container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    text-wrap: nowrap;
    width: 100%;
  }

  .logo {
    font-size: 1.125rem;
    .logo_img {
      height: 60px;
      min-width: 60px;
    } 
  }

  .nav_links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    & > li {
      margin-right: 2.5rem;
      margin-left: 0.5rem;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .nav_link {
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;

      &:hover {
        color: $holo-color;
      }
    }
  }
}