$content-border: rgba(2, 254, 255, 0.5);
$section-color: rgba(3, 25, 32, 1);
$text-color: theme('textColor.default');

.work_page {
  height: 100%;
  width: 100%;
}

.intro_section {
  display: flex;
  height: calc(100vh - 5rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.75rem;
  padding: 0 20%;
}

.intro_content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  width: 100%;
  padding: 10%;
  text-align: center;
}

.intro_content::before,
.intro_content::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 8px solid $content-border;
  transition: all 0.5s;
  animation: clippath 8s infinite linear;
  border-radius: 10px;
}

.intro_content::after {
  animation: clippath2 8s infinite linear;
}

.intro_text {
  padding-bottom: 3rem;
  border-bottom-width: 1px;
}

.freelance_section {
  position: relative;
  background-color: $section-color;
  padding: 5% 10% 11% 10%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;
}

.view_projects_container {
  display: flex;
  position: absolute;
  bottom: 4%;
  right: 3%;
  flex-direction: row;
  padding: 10px 20px;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  transition: transform .2s ease-in-out, opacity 1s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.right_arrow {
  height: 16px;
  width: 16px;
  min-width: 16px;
  min-height: 16px;
  border: 2px solid $text-color;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  transform: rotate(-45deg) translateY(4px);
}

.project_title,
.project_content {
  padding: 0 20%;
}

.project_cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project_title,
.project_content,
.project_cards {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.empty_message {
  border: 1px solid $text-color;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.personal_section {
  position: relative;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;
}

.experience_section {
  position: relative;
  background-color: $section-color;
  padding: 5% 10%;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience_section_title_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.experience_container {
  display: flex;
  width: 100%;
  gap: 5%;
  align-items: center;
  justify-content: center;  
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.experience_graph_container {
  width: 100%;
  height: 100%;
  flex-basis: 50%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.fade_in {
  opacity: 1;
}

@media (max-width: 840px) {
  .intro_section {
    padding: 0 5%;
  }

  .intro_content {
    padding: 15% 5%;
    gap: 2rem;
  }

  .intro_text {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .project_title,
.project_content {
  padding: 0 5%;
}

  .freelance_section, 
  .personal_section {
    padding: 7.5% 0 15% 0;
    gap: 2rem;
  }
}

@keyframes clippath {
  0%, 100% {
    clip-path: inset(0 0 98% 0);
  }

  25% {
    clip-path: inset(0 98% 0 0);
  }
  50% {
    clip-path: inset(98% 0 0 0);
  }
  75% {
    clip-path: inset(0 0 0 98%);
  }
}

@keyframes clippath2 {
  0%, 100% {
    clip-path: inset(98% 0 0 0);
  }

  25% {
    clip-path: inset(0 0 0 98%);
  }
  50% {
    clip-path: inset(0 0 98% 0);
  }
  75% {
    clip-path: inset(0 98% 0 0);
  }
}
