.scroll_down_indicator_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  bottom: 2%;
  left: 50%;
  height: 20px;
  width: 20px;
  transform: translateX(-50%);
  animation: bounce 3s 17s infinite, fade-in 1s 17s forwards; 

  .scroll_down_indicator {
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    transform: rotate(45deg); 
  }
}

@keyframes bounce {
  0% {
    bottom: 2%;
  }
  25% {
    bottom: 4%;
  }
  40%, 100% {
    bottom: 2%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}