$border-color: rgba(20, 82, 91, 1);

.container {
  height: 100px;
  width: 100%;
  display: flex;
  border-top: 4px solid $border-color;
  align-items: center;
  justify-content: center;
  bottom: 0;
}