@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'siteFont';
    src: url('./assets/fonts/Arame\ Thin.ttf') format('truetype');
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: auto;
  }
  *::-webkit-scrollbar-track {
    background: rgba(20, 82, 91, 1);
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(57, 133, 146, 1);
    border-radius: 10px;
    border: 3px solid rgba(20, 82, 91, 1);
  }

  html,
  body {
    font-family: 'siteFont', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: theme('textColor.default');
  }

  body {
    font-size: 14pt;
    overflow-x: hidden;
  }

  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }
}
