@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'siteFont';
    src: url('./assets/fonts/Arame\ Thin.ttf') format('truetype');
  }
  
  html, body {
    font-family: 'siteFont', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: theme("textColor.default");
  }
  
  body {
    font-size: 14pt;
  }

  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }
  
  h4 {
    font-size: 12px;
  }
}