@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
  $button-border: rgba(2, 254, 255, 0.3);
  $button-text: rgba(2, 254, 255, 0.6);
  $button-text-disabled: rgba(190, 190, 190, 0.4);
  $button-fill: rgba(2, 254, 255, 0.08);
  $button-fill-active: rgba(50, 230, 230, 0.8);
  $button-text-active: rgba(11, 34, 41, 1);

  @font-face {
    font-family: 'siteFont';
    src: url('./assets/fonts/Arame\ Thin.ttf') format('truetype');
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: auto;
  }
  *::-webkit-scrollbar-track {
    background: rgba(20, 82, 91, 1);
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(57, 133, 146, 1);
    border-radius: 10px;
    border: 3px solid rgba(20, 82, 91, 1);
  }

  html,
  body {
    font-family: 'siteFont', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: theme('textColor.default');
  }

  body {
    font-size: 18px;
    overflow-x: hidden;
  }

  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  button {
    border: 2px solid $button-border;
    background-color: $button-fill;
    display: inline-block;
    font-size: 18px;
    color: $button-text;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 30px 7px 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  button:hover, button:focus {
    background-color: $button-fill-active;
    color: $button-text-active;
    box-shadow: 0 0 10px 10px $button-border;
    border: 2px solid transparent;
  }

  button:hover {
    transform: scale(1.05);
  }

  button:active {
    transform: scale(0.95);
  }

  button:disabled {
    border: 2px solid $button-border;
    box-shadow: none;
    background-color: $button-fill;
    color: $button-text-disabled;
    cursor: not-allowed;
    transform: none;
  }

  a:hover {
    cursor: pointer;
  }
}
