$text-color: theme('textColor.default');
$content-border: rgba(2, 254, 255, 0.2);

.slider_wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  user-select: none;
}

.slider {
  width: 100%;
  max-width: 1030px;
  overflow: hidden;
}

.slider_item {
  display: flex;
  justify-content: center;
  flex: 0 0 calc(100% / 3);
  padding: 5px 20px;
  transition: all 0.3s ease-in-out;
}

.itemGrid,
.itemGrid_two {
  z-index: 2;
  width: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.itemGrid {
  justify-content: flex-start;
}

.itemGrid_two {
  justify-content: center;
  gap: 10%;
}

.arrow_container {
  position: absolute;
  width: 110%;
  max-width: 1400px;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
}

.right_arrow_box,
.left_arrow_box {
  z-index: 1;
  width: 40px;
  height: 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  transition: transform 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  &:active {
    transform: scale(0.8);
  }
}

.left_arrow,
.right_arrow {
  height: 20px;
  width: 20px;
  min-width: 20px;
  min-height: 20px;
  border: 2px solid $text-color;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.right_arrow_box {
  margin-left: auto;
}

.left_arrow_box {
  margin-right: auto;
}

.left_arrow {
  transform: rotate(135deg); 
}

.right_arrow {
  transform: rotate(-45deg); 
}

.pagination_dots {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -5%;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: $text-color;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.active_dot {
  background-color: $content-border;
}

@media (max-width: 840px) {
  .slider_item {
    flex: 0 0 100%;
    justify-content: center;
  }

  .itemGrid_two {
    justify-content: flex-start;
    gap: 0;
  }
}