$holo-color: rgba(2,254,255, 0.2);
$site-color: rgba(11, 34, 41, 1);
$white: rgba(255, 255, 255, .4);

$radial-indicator-radius: 125px;

.background {
    background-color: $site-color;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1000;
    display: flex;
    filter: blur(4px); 
}

.rectangle_1 {
    position: absolute;
    height: 26%;
    width: 9%;
    top: 14%;
    left: 85%;
    border: 4px outset $holo-color;
    overflow: hidden;
    display: flex;

    p {
        position: absolute;
        overflow: hidden;
        padding: 8px;
        font-size: 8px;
        animation: typingBackground 5s linear infinite;
    }
}

.radial_indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid $holo-color;
    border-radius: 50%;
    height: $radial-indicator-radius;
    width: $radial-indicator-radius;
    top: 80%;
    left: 85%;

    span {
        font-size: 28px;
        text-wrap: nowrap;
        padding-bottom: 5px;
    }
    
    .radial_indicator_layer {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 90%;
        border: 15px solid $holo-color;
        border-right: 15px solid transparent;
        border-radius: 50%;
        animation: rotate 10s linear infinite;
        

        .radial_indicator_core {
            position: absolute;
            height: 60%;
            width: 60%;
            border-radius: 50%;
            border: 10px inset $holo-color;
            background-color: $white;
            
            animation: rotate 12s linear infinite;

        }
    }
}

.side_rectangle {
    position: absolute;
    height: 70%;
    width: 2%;
    display: flex;
    justify-content: center;
    border: 6px inset $holo-color;
    border-radius: 50px;
    top: 20%;
    left: 1.5%;

    .side_rectangle_inner {
    position: absolute;
    height: 10%;
    width: 95%;
    background-color: $holo-color;
    border: 6px inset $holo-color;
    animation: slide 25s linear infinite;
    border-radius: 50px;
    }
}

@keyframes typingBackground {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(900%);
    }
    100% {
        transform: translateY(0);
    }
}